.form-group {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  max-width: 80%;
  width: 100%;
  margin: 0 auto;

  padding: 1.5rem;
  border: .25rem solid var(--light-text);
  border-radius: 1.125rem;
}

.form-group .form-icon {
  font-size: .875rem;
  color: var(--light-gray);
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

.form-group .form-icon img {
  height: 1.875rem;
}

.form-group h3 {
  font-size: 1.5rem;
  color: var(--medium-text);
  font-weight: 300;
  margin-top: 2rem;
  margin-bottom: .5;
}

.form-group .radio-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: .25rem .5rem;
  border-top: .063rem solid var(--light-text);
  position: relative;
}

.form-group .radio-wrapper span {
  position: absolute;
  right: 0px;
}

//colocando o border-bottom no último horário, que o terceiro elemento da div de baixo pra cima
.form-group .radio-wrapper:nth-last-child(3) {
  border-bottom: .063rem solid var(--light-text);
}

.form-group .btn-wrapper {
  display: flex;
  gap: .75rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-group .btn-wrapper .btn {
  font-size: 1.125rem;
  border-radius: .25;
  color: var(--dark-gray);
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem;
  width: 25%;
  border: none;
  cursor: pointer;
}

.form-group .btn-wrapper .btn-primary {
  background-color: var(--yellow);
}

.form-group .btn-wrapper .btn-secondary {
  border: .125rem solid var(--light-text);
  background-color: transparent;
}

.form-group .checkbox-wrapper {
  color: var(--light-gray);
  margin: 2rem 0;
  position: relative;
  width: 100%;
}

.form-group .checkbox-wrapper span {
  position: absolute;
  right: 0;
}
